/*  ------ Global settings */

   * {
      font-family: Cambria, Georgia, serif;
      font-size:12px;
/*       background-color: #ffffe0; */
      }

body {
      text-align:justify;
      counter-reset: chapter;
      margin-left:10%;
      margin-right:10%;
}
      
/* ------- Pagination */

h1, h2 {
    page-break-after: avoid;
    page-break-before: always;
}

p {
      orphans:3;
      widows:3;
}

/* Default left, right, top, bottom margin is 2cm */
@page { 
  
  margin: 2cm;
    
} 

#page-footer {display: none;}
#footer {display: none;}

/* body { margin: 1.6cm; } */
 
/* First page, 10 cm margin on top */
@page :first {
  margin-top: 0cm 
}
 
/* Left pages, a wider margin on the left */
@page :left {
  margin-left: 1cm;
  margin-right: 1cm;
}
 
@page :right {
  margin-left: 2cm;
  margin-right: 3cm;
}

/* ------ Normal elements */
      
   p { 
      
      text-indent:   1.5em;
      margin-top:    .75em;
      margin-bottom: .75em;
      line-height: 1.3;
      
      }
      
/* First paragraphs after a title  */
      
 h2+p {
      text-indent: 0em;
      }
      
 h2+p:first-letter {
      font-size: 200%;
      color: blue;
      font-family: "Goudy Old Style", Georgia, serif;
      line-height: 50%;
      }

 h1,h2,h3,h4,h5,h6 { 
      text-align: center; 
      letter-spacing: 0.1em;
      }

   h1 {
      margin-top: 3cm;
      }
      
   h2 {
      border-top: 5px solid blue;
      border-bottom: 1px solid blue;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 2cm;
      counter-increment: chapter;
      }
      
   /*h2:before {
      content: "Chapter " counter(chapter) ": ";
      }*/

   hr { 
      width: 50%;
      text-align: center;
      }

strong { 
      background-color: yellow;
      font-style: normal;
 }
      
 blockquote {
      font-size: 90%; 
      margin-left: 20%; 
      margin-right: 20%;
      }
      
/*  ------ Special sections, using CSS class identifiers */
      
 .toc  {
      text-align:center;
      margin-top: 2cm;
      margin-bottom: 2cm;
      }
      
 .toc p:first-letter {font-size: 100%;}
      
 pre { 
      font-family: "Comic Sans", fantasy, serif;
      font-style: italic; 
      margin-left: 20%;
      }
      
 p.fineprint {
      font-size: 70%;
      text-indent: 0em;
      }
      
 pre.copyright, .noprint {
     display:none;
 }

 p.heading {
      font-size: x-large;
      text-align: center; 
      }

.table th{
  
  text-transform: uppercase;
  
}

.table{
    
  padding: 1px 1px;
  border: 1px solid #ccc;
  border-radius: 6px;  
    
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 4px 5px;
}

.dataTables_wrapper{
  
  border: 1px solid #ccc;
  padding:1px;
  border-radius: 6px;
  
}

.table > tbody > tr > td{
 padding: 1px; 
}